<h2>Add Contact</h2>
	<div class="form">
		<!-- Contact form (not working)-->
		<form name="addcontactform" class="form-horizontal">
			<!-- Name -->
			<div class="form-group">
				<label class="control-label col-md-3" for="name">Name</label>
				<div class="col-md-5">
					<input type="text" class="form-control" name="name" data-ng-model="newContactModel.name" required>
				</div>
			</div>
			<!-- Lastname -->
			<div class="form-group">
				<label class="control-label col-md-3" for="website">Lastname</label>
				<div class="col-md-5">
					<input type="text" class="form-control" name="lastname" data-ng-model="newContactModel.lastname" required>
				</div>
			</div>
			<!-- Email -->
			<div class="form-group">
				<label class="control-label col-md-3" for="email">Email</label>
				<div class="col-md-5">
					<input type="email" class="form-control" name="email" data-ng-model="newContactModel.email" required>		
				</div>
			</div>			
			<!-- Buttons -->
			<div class="form-group">
				<!-- Buttons -->
				<div class="col-md-9 col-md-offset-3">
					<button type="reset" class="btn btn-link" data-ng-click="backToList()">Cancel</button>
					<button type="submit" class="btn btn-default" data-ng-disabled="addcontactform.$invalid" data-ng-click="addContact()">Submit</button>	
				</div>
			</div>			
		</form>
	</div>