<h2>Edit Contact</h2>
	<div class="form">
		<!-- Contact form (not working)-->
		<form name="editcontactform" class="form-horizontal">			
			<div class="form-group">				
			<input type="hidden" name="_id" data-ng-model="contactModel._id">				
			</div>
			<!-- Name -->
			<div class="form-group">
				<label class="control-label col-md-3" for="name">Name</label>
				<div class="col-md-5">
					<input type="text" class="form-control" name="name" data-ng-model="contactModel.name" required>
				</div>
			</div>
			<!-- Lastname -->
			<div class="form-group">
				<label class="control-label col-md-3" for="website">Lastname</label>
				<div class="col-md-5">
					<input type="text" class="form-control" name="lastname" data-ng-model="contactModel.lastname" required>
				</div>
			</div>
			<!-- Email -->
			<div class="form-group">
				<label class="control-label col-md-3" for="email">Email</label>
				<div class="col-md-5">
					<input type="email" class="form-control" name="email" data-ng-model="contactModel.email" required>
				</div>
			</div>			
			<!-- Buttons -->
			<div class="form-group">
				<!-- Buttons -->
				<div class="col-md-9 col-md-offset-3">
					<button type="reset" class="btn btn-link" data-ng-click="backToList()">Cancel</button>
					<button type="submit" class="btn btn-default" data-ng-disabled="editcontactform.$invalid" data-ng-click="updateContact(contactModel)">Submit</button>	
				</div>
			</div>
		</form>
	</div>