<h2>Contacts</h2>
<table class="table table-striped">
	<thead> 
		<tr>			
			<th>Name</th>
			<th>Last Name</th>
			<th>Email</th>
			
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="contact in contacts">				
			<td>{{ contact.name }}</td>
			<td>{{ contact.lastname }}</td>
			<td>{{ contact.email }}</td>
			<td>
				<a href="#/editContact/{{contact._id}}"><i class="fa fa-pencil"></i></a> | 
				<a href="#/deleteContact/{{contact._id}}" ><i class="fa fa-times"></i></a>
			</td>
		</tr>
	</tbody>
</table>

